.contain {
    height: auto;
    background-color: #f8f1e9;
}
section {
    box-shadow: none!important;
    padding-top: 6em;
}
h1 {
    padding-top: 1em;
    color: #3f3f3f;
}

h2{
  padding: .25em 0 1em;
  margin: 0;
}

.CDcontain {
    width: 65%;
    margin: 0 auto;
    padding-bottom: 2em;
}
#register-btn {
    margin: 1em 0;
}
#CareerDay ul {
    width: 58%;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0;
}
#CareerDay li {
    list-style: none;
    font-size: 18px;
    padding-bottom: .5em;
}

#CareerDay .sponsor{
  width: 100%;
}

.sponsor img {
    margin: 0 auto 2em;
    width: 300px;
    display: block;
}
.sponsor img:last-child {
    margin: 0 auto;
}

/* MEDIA QUERIES */

@media screen and (max-width:480px) {
    #CareerDay {
        width: auto;
        padding-top: 0;
    }
    .CDcontain {
        width: 95%;
        text-align: center;
    }
}
