.contain{
	height: auto;
	background-color: #f8f1e9;

}
#IEOY{
	margin: 0 auto;
	box-shadow: none;
	padding-top: 1%;
}

#IEOY .upcomingEvents .col1{
	display: inline-block;
	float: left;
	width: 30%;
}

#IEOY .upcomingEvents .col1 img{
	width: 100%;
}

#IEOY .upcomingEvents .col2{
	display: inline-block;
	float: right;
	width: 70%;
	padding-left: 2%;
}

h2{
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}

#IEOY .pastWinners .col1{
	display: inline-block;
	float: left;
	width: 30%;
}

#IEOY .pastWinners .col1 img{
	width: 100%;
}

#IEOY .pastWinners .col2{
	display: inline-block;
	float: right;
	width: 70%;
	padding-left: 2%;
}

h3.question:first-of-type{
	padding-top: 0;
}

.question{
	font-weight: bold;
	padding: 1em 2em 0.25em 0;
	border-bottom: 4px solid #a00008;
	display: inline-block;
}


h1{
	font-size: 42px;
	color: #3f3f3f;
	margin:2em 0 0.5em;
}

span.date{
	display: block;
	font-weight: 700;
	padding-bottom: 0.25em;

}


#pastWinners{

		width: 90%;
		margin: 0 auto;
}

#pastWinners .panel{
	margin-bottom: 10px;
}

#pastWinners .panel:last-child{
	margin-bottom: 25px;
}

div.panel-heading h4.panel-title, div.panel-heading h3.panel-title{
	font-weight: bold;
	letter-spacing: 1.25;
}

div.panel-heading h4.panel-title span, div.panel-heading h3.panel-title span{
	color: #f8f1e9;
	font-weight: bold;
}


section#IEOY #sponsor{
	width: 75%;
	margin: 3em auto;
	padding: 0.5em 1em;
	border: 3px solid #a00008;
}

section#IEOY #sponsor p{
	margin: 0;
	padding: 0;
}
