.contain{
	height: auto;
	background-color: #f8f1e9;

}
#workshops{
	margin: 0 auto;
	box-shadow: none;
	padding-top: 1%;

}
h1{
	font-size: 42px;
	color: #3f3f3f;
	margin:2em 0 0.5em;
}

span.date{
	display: block;
	font-weight: 700;
	padding-bottom: 0.25em;

}


#pastEvents{

		width: 90%;
		margin: 0 auto;
}

#pastEvents .panel{
	margin-bottom: 10px;
}

#pastEvents .panel:last-child{
	margin-bottom: 25px;
}
