body{
		background-color: #f8f1e9;
}

.contain{
	background-color: #f8f1e9;
	margin: 0 auto;
	height: auto;
	width: 65%;
}
#teacherTravel{
	box-shadow: none;
	margin-top: 5%;
	padding-top: 1%;
	padding-bottom: 2em;
	height: auto;
	background-color: #f8f1e9;
}

#main-content h1{
	font-size: 42px;
	color: #3f3f3f;
	margin-bottom: 0.5em;
}

#main-content p{
	font-size: 21px;
	margin-left: 1em;
	color: #333333;
}

#main-content ol{
	font-size: 18px;
	line-height: 1.25;
	margin-left: 1em;
}

#main-content li{
	padding-bottom: 1%;
}

.contact{
	padding-bottom: 1em;
}

#travelCarousel{
	width: 600px;
}

#travel{
	padding-bottom: 1em;
	height: auto;
	background-color: #f8f1e9;
}

/*#travel .upcoming{
	width: 50%;
	margin: 0 auto;
	padding: 5px 7px;
	border: 3px solid #3f3f3f;
	text-align: center;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
background-color: #2196F3;
}*/

a{
	font-style: normal;
	text-decoration: none;
}

pastEvents>h1{
	padding-bottom: 10px;
}

/*#featuredEvent{
	max-width: 100%;
	padding-bottom: 20px;
	overflow: auto;
}*/

#pastEvents .event{
	padding-bottom: 3em;
}

.eventCopy > h2{
	text-align: center;
}

.eventCopy > p{
	padding-bottom: 1em;
}

#pastEvents > .eventCopy{
	text-align: center;
}

#pastEvents h1, #upcomingEvents h1{
	color: #3f3f3f;
}


#featuredEvent > .eventCopy > h2{
	position: relative;
	top: -35px;
	background-color: #efefef;
	padding: 5px 10px;
	display: inline;
}

#pastEvents .event{
	display: inline-block;
	padding: 0 10px 10px 0;
	vertical-align: top;
	height: auto;
}

#pastEvents .event:last-child{
	padding: 0 0 10px 0;
}

#pastEvents .event .eventImage, .upcoming .event .eventImage{
	background-size: cover;
	width: 100%;
	height: 240px;
}

#upcomingEvents{
	width: 95%;
	margin: 0 auto;
}

#pastEvents .event .eventCopy h3.date{
	text-align: center;
	padding-bottom: 0!important;
}

.event #UAE2017 img{
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.event #UAE2017{
	width: 100%;
}

#pastEvents .event #UAE2015{
	background-image: url(https://dfwworld.org/image/SH_IEPUAETrip2015.jpg);
}

#pastEvents .event #morroco2015{
	background-image: url(https://dfwworld.org/view.image?Id=5196);
}

#pastEvents .event #Jordan2016{
	background-image: url(http://dfwworld.org/image/Jordan.jpg);
}

/* MEDIA QUERIES */
@media screen and (max-width:480px){
	#teacherTravel{
		width: 100%;
	}
	#main-content{
		width: 95%;
	}
  p{
    width: auto;
		margin: 0;
		text-align: center;
  }
	#pastEvents{
		width: 100%;
		margin: 0 auto;
	}

	.event{
		width: 100%;
		padding: 0!important;
		margin-bottom: 1.5em;
	}

	.event #UAE2017{
		height: auto;
	}

	.event #UAE2017 img{
		height: auto;
		width: 100%!important;
		margin: 0;
		padding: 0;
	}

	.eventCopy p{
		text-align: left;
	}
}
